/*
 * css styles go here
 */


body {
  font-family: Century Gothic,Arial,sans-serif;
  background-color: darkgrey;
}

a, a:visited {
  color: lightblue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}




#header {
  padding: 4px;
  color: whitesmoke;
}

#header .big {
  font-size:   140%;
  font-weight: bold;
  color: whitesmoke;
}

#header .small {
  font-size:    90%;
  color:        peachpuff;
  padding-left: 15px;
}

#nav {
  padding: 6px;
}




